body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.reset {
    text-align: center;
    padding-bottom: 1rem;
}

.outer-grid-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 !important;
}

.title>h1,
.title>p {
    margin: .5rem;
}

.sketch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
}

.grid-each {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* border: .5px solid black; */
}